<%- include('../../partials/header.ejs')%>

<div class="container my-container">
   <div class="row">
       <div class="col-md-6 offset-md-3">
           <div class="card card-body">
           <h4>Create a new account</h4>
           <form action="/auth/singup" method="POST">

            <div class="form-group">
            
                <label for="username">Enter user name (must be unique)</label>
                <input type="text" name="username" id="username" 
                value="<%= value.username && value.username%>" class="form-control <%= error.username ? 'is-invalid' :'' %>"/>
                <div class="invalid-feedback">
                    <%= error.username && error.username %>
                </div>
                
            </div>
            
            <div class="form-group">
                <label for="email">Enter user email address</label>
                <input type="text" name="email" id="email" 
                value="<%= value.email && value.email%>"
                class="form-control <%= error.email ? "is-invalid":'' %>"/>
                </label>
                <div class="invalid-feedback">
                    <%= error.email && error.email %>
                </div>
            </div>
            
            <div class="form-group">
                <label for="password">Enter a strong password</label>
                <input type="password" name="password" id="password" class="form-control <%= error.password ? "is-invalid":'' %>"/>
                <div class="invalid-feedback">
                    <%= error.password && error.password %>
                </div>
                
            </div>
            
            <div class="form-group">
                <label for="password2">confirm password</label>
                <input type="password" name="password2" id="password2" class="form-control <%= error.password2 ? "is-invalid":'' %>"/>
                <div class="invalid-feedback">
                    <%= error.password2 && error.password2 %>
                </div>
            </div>
            
            <div class="form-group">
                <input type="submit" value="singup" class="btn btn-primary"/>
                
            </div>
            <a href="/auth/login">Already have an account? go to login</a>
           </form>
        </div>
       </div>
   </div>

</div>


<%- include('../../partials/footer.ejs')%>

</body>
</html>